body {
    background-color:#fff;
}

div#container {
    margin-top:15%;
}

div#sep {
    display:block;
    margin: 0 auto;
    width: 600px;
    text-align: right;
    font-size:30px;
    font-family:Calibri;  
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

div#image{
   display:block;
   background-image:url(images/ic-large.gif);
    background-repeat: no-repeat;
    background-position: center center;

    width: 500px;
    height: 350px;
    margin: 0 auto;
    
}

.nav{    
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.nav li{
    display:inline;
    font-size:30px;
    font-family:Calibri;    
}

.nav a{
    display:inline-block;
    padding-left: 32px;
    padding-right: 32px;
}

a:visited{
    color:black;
    text-decoration:none;
}

a:link{
    color:black;
    text-decoration:none;
}

a:active{
    color:black;
    text-decoration:none;
}

a:hover{
    color:red;
    text-decoration:none;
}

div#menu {
    height: 50px;
    width:100%;
}
